* {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}


.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 5;

    background-color: #83afaf;
}




#titlenavbar {
  font-weight: 900;
  font-size: 20px;
}

/* about me  */
#about {
  width: 100%;
  height: 500px;
  padding-top: 80px;
  color: black;
  background-color: #a2c3c3;

}

#about h1 {
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

/* temporary */
#about-main {
  background-color: grey;
  padding-left: 5px;
  height: 350px;

}
/* temporary */
#about-photo {
  background-color: black;
  height: 250px;
  height: 350px;
}

/* portfolio */
#portfolio {
  width: 100%;
  height: 900px;
  padding-top: 60px;
  text-align: center;
  color: black;
  background-color: #c1d7d7;
}

#portfolio h1 {
  font-style: italic;
  text-decoration: underline;
  font-size: 20px;
}

/* temporary */
 .col {
  height: 250px;
  margin: 5px 5px 5px 5px;

  background-color: grey;
}

.row {
  margin-left: 5px;
  margin-right: 5px;
}


/* contact */
#contact {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  color: black;
  background-color: #a2c3c3;
}

#contact h1 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  font-size: 20px;
}

#contactform {
  margin-left: 5%;
  margin-right: 5%;
}

/* footer */
footer {
  text-align: center;
  background-color: #83afaf;
  height: 40px;
}

footer p {
  color: grey;
}
